name: CI

on:
  push:
    branches: [ main ]


jobs:
  integrationtests:
    name: Integration Tests
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2.1.0
      - run: dotnet test
        working-directory: LogAnalytics.Client/LogAnalytics.Client.IntegrationTests
        env: 
          SECRETS_LOCATION: "GitHubActions"
          GHA_LAW_ID: "${{secrets.GHA_LAW_ID}}"
          GHA_LAW_KEY: "${{secrets.GHA_LAW_KEY}}"
          GHA_LAW_PRINCIPAL_CLIENTID: "${{secrets.GHA_LAW_PRINCIPAL_CLIENTID}}"
          GHA_LAW_PRINCIPAL_CLIENTSECRET: "${{secrets.GHA_LAW_PRINCIPAL_CLIENTSECRET}}"
          GHA_LAW_PRINCIPAL_DOMAIN: "${{secrets.GHA_LAW_PRINCIPAL_DOMAIN}}"
  unittests:
    name: Unit Tests
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2.1.0
      - run: dotnet test
        working-directory: LogAnalytics.Client/LogAnalytics.Client.UnitTests
  build:
    needs: [unittests,integrationtests] # ensure we run the unit tests, and integration tests before we start building and packaging.
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: DevSkim
      uses: microsoft/DevSkim-Action@v1
    - name: Wire up .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.401
    - name: Install dependencies
      run: dotnet restore
      working-directory: LogAnalytics.Client/LogAnalytics.Client
    - name: Build
      run: dotnet build --configuration Release --no-restore
      working-directory: LogAnalytics.Client/LogAnalytics.Client
    - name: Publish LogAnalytics.Client
      uses: brandedoutcast/publish-nuget@v2.5.2
      with:
          PROJECT_FILE_PATH: LogAnalytics.Client/LogAnalytics.Client/LogAnalytics.Client.csproj
          NUGET_KEY: ${{secrets.NUGET_LOGANALYTICS_APIKEY}}
